.masthead .masthead-avatar {
  border-radius: 50%;
  max-width: 20rem !important;
  max-height: 20rem !important;
}

@media (min-width:576px) {
  .masthead .masthead-avatar {
    border-radius: 50%;
    width: 15rem !important;
    height: 15rem !important;
  }
 }
 @media (min-width:768px) {
  .masthead .masthead-avatar {
    width: 20rem !important;
    height: 20rem !important;
  }
 }
